:root {
    --text-light: #6b7280;
    --text-dark: #6b7280;
    --card-bg-light: #f3f4f6;
}

.dark {
    color: var(--text-dark);
}

.light {
    .login-wrapper {
        button {
            background: unset;
        }
    }

    .zoom-in-95 {
        z-index: 999;
        background-color: var(--card-bg-light);
    }
}