.wave {
    transform-origin: 70% 70%;
    display: inline-block;
    scale: 0;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: wave-animation 2.3s infinite, scaleIn 1s 1750ms forwards !important;
}

@keyframes scaleIn {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}