$theme-primary: #fff;
$theme-secondary: #000;
$dark: #000;
$light: #fff;

// Body gradients
$green-gradient: radial-gradient(ellipse 60% 50% at 50% -30%, rgba(45, 212, 191, .15) 0, rgba(8, 0, 0, 0));
$pink-gradient: radial-gradient(ellipse 60% 50% at 50% -30%, rgba(255, 105, 180, .15) 0, rgba(8, 0, 0, 0));
$cyan-gradient: radial-gradient(ellipse 60% 50% at 50% -30%, rgba(0, 255, 255, .15) 0, rgba(8, 0, 0, 0));
$red-gradient: radial-gradient(ellipse 60% 50% at 50% -30%, rgba(255, 0, 0, .15) 0, rgba(8, 0, 0, 0));
$blue-gradient: radial-gradient(ellipse 60% 50% at 50% -30%, rgba(0, 0, 255, .15) 0, rgba(8, 0, 0, 0));
$purple-gradient: radial-gradient(ellipse 60% 50% at 50% -30%, rgba(128, 0, 128, .15) 0, rgba(8, 0, 0, 0));