$white : #DFE0E2;
$grey: #131417;
$grey-light: #26282C;
$pink: #B749AC;
$pink-secondary: #ef4477;
$black: #050505;
$text: $white;
$text-dark: #40454d;
$text-grey: #9ca2aa;
$offwhite: #f5f5f5;
$color-primary: $pink-secondary;
$color-secondary: $pink;

$header-bar : $grey;
$card: $grey;
$card-inner: $grey-light;


.bg-theme {
    background-color: $black;
}

.text-dark {
    color: $text-dark;
}

.text-light {
    color: $text;
}

.bg-block {
    background-color: $grey;
}

.border-regular {
    border: 1px solid #26282c;
}

.text-grey {
    color: $text-grey;
}

.bg-grey-light {
    background-color: $grey-light;
}

.text-offwhite {
    color: $offwhite;
}

.bg-primary {
    background-color: $color-primary;
}

.text-primary {
    color: $color-primary;
}