$white : #DFE0E2;
$grey: #131417;
$grey-light: #26282C;
$pink: #B749AC;
$black: #050505;
$text: $white;
$text-dark: #40454d;

$color-primary: #364472;
$color-secondary: $pink;

$header-bar : $grey;
$card: $grey;
$card-inner: $grey-light;


.bg-theme {
    background-color: $black;
}

.text-dark {
    color: $text-dark;
}

.text-light {
    color: $text;
}

.dark:bg-block {
    background-color: $grey;
}

.bg-block {
    background-color: $grey-light;
}

.border-regular {
    border: 1px solid #26282c;
}