.pulser {
    animation: pulser 2s cubic-bezier(0.565, 0.84, 0.44, 1) infinite;
}

@keyframes pulser {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(77, 170, 87, 0.9);
        box-shadow: 0 0 0 0 rgba(77, 170, 87, 0.9);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 0 0 8px rgba(77, 170, 87, 0);
        box-shadow: 0 0 0 8px rgba(77, 170, 87, 0);
    }

    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(77, 170, 87, 0);
        box-shadow: 0 0 0 0 rgba(77, 170, 87, 0);
    }
}