@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1d1d1b;
    --muted: #f5f5f5;
    --muted-foreground: #787878;
    --popover: #ffffff;
    --popover-foreground: #1d1d1b;
    --border: #ebebeb;
    --input: #ebebeb;
    --card: #ffffff;
    --card-foreground: #1d1d1b;
    --primary: #1d1d1b;
    --primary-foreground: #f5f5f5;
    --secondary: #f5f5f5;
    --secondary-foreground: #1d1d1b;
    --accent: #f5f5f5;
    --accent-foreground: #1d1d1b;
    --destructive: #ff0000;
    --destructive-foreground: #f5f5f5;
    --ring: #b3b3b3;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0d0d0d;
    --foreground: #ebebeb;
    --muted: #1d1d1b;
    --muted-foreground: #787878;
    --accent: #2b2b2b;
    --accent-foreground: #f5f5f5;
    --popover: #0d0d0d;
    --popover-foreground: #b3b3b3;
    --border: #2b2b2b;
    --input: #2b2b2b;
    --card: #0d0d0d;
    --card-foreground: #ebebeb;
    --primary: #f5f5f5;
    --primary-foreground: #020202;
    --secondary: #1d1d1b;
    --secondary-foreground: #f5f5f5;
    --destructive: #a02020;
    --destructive-foreground: #f5f5f5;
    --ring: #2b2b2b;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}