.unset-all {
    all: unset;
}

.section-wrapper {
    margin-bottom: 24px;
}

.section-wrapper--big {
    margin-bottom: 48px;
}

.section-wrapper--small {
    margin-bottom: 12px;
}

.section-wrapper:last-child {
    margin-bottom: 0;
}