.scroll-container {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.loading-article {
  flex: 0 0 auto;
  margin-right: 10px;
}
