.wave {
    transform-origin: 70% 70%;
    display: inline-block;
    scale: 0;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: wave-animation 2.3s infinite, scaleIn 1s 1750ms forwards;
}